{
  "root": true,
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "v2land"
  ],
  "rules": {
    "require-jsdoc": 0,
    "react/prop-types": 0,
    "react/display-name": 0,
    "new-cap": 0,
    "no-invalid-this": 0
  }
}
